*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.main_container{
    width: 50%;
    margin: 20px auto;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 50px;
}

header, menu, footer{
    text-align: center;
}

header > img{
    width: 150px;
}

header > h3{
    color: #00dd00;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

menu{
    background-color: #00dd00;
    padding: 7px;
}

menu > button{
    font-size: 10px;
    padding: 2px;
}

main, footer{
    color: white;
    font-family: 'Poppins', sans-serif;
}

section > h4{
    display: inline-block;
    margin-top: 8px;
}

section > p{
    font-size: 10px;
}

section > .block{
    height: 20px;
    border-radius: 3px;
}

.block.orange{
    width: 40%;
    background-color: #f5b453;
}

.block.green{
    width: 70%;
    background-color: #1ec31e;
}

.block.red{
    width: 15%;
    background-color: #be4141;
}

footer{
    font-size: 10px;
    margin-top: 20px;
}